<div class="container p-4">
    <div class="row">

        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>Voy a ir al evento "{{{event.title}}}" </p>
                <a href="/links/total"> Compatir</a>
            </div>
        </div>
        
  </div>
</div>