<div class="container p-4">
    <div class="row">
        
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                  <p>
                    {{description}}
                   DETALLE {{event.description}}
                  </p>
                    
                    
                    <a class="btn btn-secondary" href="/links/total">
                        salir
                    </a>
                </div>
            </div>
        </div>
       
    </div>
</div>