<div class="container p-4">
    <div class="row">
        {{#each event}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                  <div>
                    
<a class="button" style="font-size: 15px;" title="Compartir por Twitter" href="/links/comparte/{{id}}">
<span class="dashicons"><i class="fas fa-share-alt-square" style="color:orange; font-size:40px;"></i> </span><p class="text-muted">Compartir por Twitter </p>
</a>
   
                 <p></p>     
                    
</div>
                    <a href="/links/detalle/{{id}}">
                        <h3 class="card-title text-uppercase">
                            {{title}}
                        </h3>
                    </a>
                    
                    <p>
                    </p>
                    <p class="text">
                      {{fecha}}
                    </p>
                </div>
            </div>
        </div>
      {{/each}}
    </div>
</div>


